%section{:style => "background-color: #eee;"}
  .container.py-3
    .d-flex.justify-content-between
      %h2.mb-3 My Profile
      = link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-primary mb-3'
    .row
      .col
        %nav.bg-light.rounded-3.p-3.mb-4{"aria-label" => "breadcrumb"}
          %ol.breadcrumb.mb-0
            %li.breadcrumb-item
              = link_to 'Dashboard', s_dashboard_path, class: 'text-black'
            %li.breadcrumb-item.active{"aria-current" => "page"} Profile
    .row
      .col-lg-4
        .card.mb-4
          .card-body.text-center
            - if current_user.avatar.present?
              = image_tag(current_user.avatar.variant(resize_to_fill: [150, 150]), class: "rounded-circle img-fluid")
            - else
              = image_tag "default_profile.png", alt: 'image', class: 'rounded-circle img-fluid', width: "150px"
            %h5.my-3= @current_user.name.titleize
            %p.text-muted.mb-1= @current_user.headline.titleize
            %p.text-muted.mb-4= @current_user.address
            / .d-flex.justify-content-center.mb-2
            /   %button.btn.btn-primary{:type => "button"} Follow
            /   %button.btn.btn-outline-primary.ms-1{:type => "button"} Message
        .card.mb-4.mb-lg-0
          .card-body.p-0
            %ul.list-group.list-group-flush.rounded-3
              %li.list-group-item.d-flex.justify-content-between.align-items-center.p-3
                %i.fas.fa-globe.fa-lg.text-warning
                %a.mb-0.text-dark{href: "#{@current_user.student_profile.website}", target: "_blank"}= @current_user.student_profile.website
              %li.list-group-item.d-flex.justify-content-between.align-items-center.p-3
                %i.fab.fa-linkedin.fa-lg{style: "color: #0077b5;"}
                %a.mb-0.text-dark{href: "#{@current_user.student_profile.linkedin}", target: "_blank"}= @current_user.student_profile.linkedin
              %li.list-group-item.d-flex.justify-content-between.align-items-center.p-3
                %i.fab.fa-github.fa-lg{style: "color: #333333;"}
                %a.mb-0.text-dark{href: "#{@current_user.student_profile.github}", target: "_blank"}= @current_user.student_profile.github
        .card.mb-4.mt-4
          .card-body.text-center
            %h5.my-3 Signature
            - if current_user.signature.present?
              = image_tag(current_user.signature.variant(resize_to_fill: [150, 150]))
              .d-flex.justify-content-center.mb-2.mt-3
                %button.btn.btn-secondary.me-3{:type => "button"} Preview
                %button.btn.btn-outline-secondary{:type => "button"} Download
            - else
              %p Empty
      .col-lg-8
        .card.mb-4
          .card-body
            .row
              .col-sm-3
                %p.mb-0 Full Name
              .col-sm-9
                %p.text-muted.mb-0= @current_user.name.titleize
            %hr/
            .row
              .col-sm-3
                %p.mb-0 Surname
              .col-sm-9
                %p.text-muted.mb-0= @current_user.student_profile.surname.titleize
            %hr/
            .row
              .col-sm-3
                %p.mb-0 Email
              .col-sm-9
                %p.text-muted.mb-0= @current_user.email
            %hr/
            .row
              .col-sm-3
                %p.mb-0 Phone
              .col-sm-9
                %p.text-muted.mb-0= @current_user.phone
            %hr/
            .row
              .col-sm-3
                %p.mb-0 Address
              .col-sm-9
                %p.text-muted.mb-0= @current_user.address
            %hr/
            .row
              .col-sm-3
                %p.mb-0 Aadhaar Number
              .col-sm-9
                %p.text-muted.mb-0= @current_user.aadhaar_number
            %hr/
            .row
              .col-sm-3
                %p.mb-0 Gender
              .col-sm-9
                %p.text-muted.mb-0= @current_user.gender
            %hr/
            .row
              .col-sm-3
                %p.mb-0 Blood Group
              .col-sm-9
                %p.text-muted.mb-0= @current_user.blood_group
            %hr/
            .row
              .col-sm-3
                %p.mb-0 D.O.B
              .col-sm-9
                %p.text-muted.mb-0= "#{@current_user.b_day} - #{@current_user.b_month} - #{@current_user.b_year}"
            %hr/
            .row
              .col-sm-3
                %p.mb-0 Roll Number
              .col-sm-9
                %p.text-muted.mb-0= @current_user.student_profile.roll_number
            %hr/
            .row
              .col-sm-3
                %p.mb-0 Admission Number
              .col-sm-9
                %p.text-muted.mb-0= @current_user.student_profile.admisssion_number
            %hr/
            .row
              .col-sm-3
                %p.mb-0 University Reg Number
              .col-sm-9
                %p.text-muted.mb-0= @current_user.student_profile.university_reg_number
            %hr/
            .row
              .col-sm-3
                %p.mb-0 Admission Date
              .col-sm-9
                %p.text-muted.mb-0= "#{@current_user.student_profile.a_day} - #{@current_user.student_profile.a_month} - #{@current_user.student_profile.a_year}"
            %hr/
            .row
              .col-sm-3
                %p.mb-0 Admission Quota
              .col-sm-9
                %p.text-muted.mb-0= @current_user.student_profile.admisssion_quota
            %hr/
            .row
              .col-sm-3
                %p.mb-0 Father's Name
              .col-sm-9
                %p.text-muted.mb-0= @current_user.student_profile.father_name
            %hr/
            .row
              .col-sm-3
                %p.mb-0 Mother's Name
              .col-sm-9
                %p.text-muted.mb-0= @current_user.student_profile.mother_name
            %hr/
            .row
              .col-sm-3
                %p.mb-0 Parent Phone
              .col-sm-9
                %p.text-muted.mb-0= @current_user.student_profile.parent_phone
            %hr/
            .row
              .col-sm-3
                %p.mb-0 Campus Type
              .col-sm-9
                %p.text-muted.mb-0= @current_user.student_profile.campus_type
            %hr/
            .row
              .col-sm-3
                %p.mb-0 Religion
              .col-sm-9
                %p.text-muted.mb-0= @current_user.student_profile.religion
            %hr/
            .row
              .col-sm-3
                %p.mb-0 Caste
              .col-sm-9
                %p.text-muted.mb-0= @current_user.student_profile.caste
            %hr/
            .row
              .col-sm-3
                %p.mb-0 Category
              .col-sm-9
                %p.text-muted.mb-0= @current_user.student_profile.category
            %hr/
            .row
              .col-sm-3
                %p.mb-0 Nationality
              .col-sm-9
                %p.text-muted.mb-0= @current_user.student_profile.nationality
            %hr/
            .row
              .col-sm-3
                %p.mb-0 state
              .col-sm-9
                %p.text-muted.mb-0= @current_user.student_profile.state
            %hr/
            .row
              .col-sm-3
                %p.mb-0 District
              .col-sm-9
                %p.text-muted.mb-0= @current_user.student_profile.district
            %hr/
            .row
              .col-sm-3
                %p.mb-0 Taluk
              .col-sm-9
                %p.text-muted.mb-0= @current_user.student_profile.taluk
        / .row
        /   .col-md-6
        /     .card.mb-4.mb-md-0
        /       .card-body
        /         %p.mb-4
        /           %span.text-primary.font-italic.me-1 assigment
        /           Project Status
        /         %p.mb-1{:style => "font-size: .77rem;"} Web Design
        /         .progress.rounded{:style => "height: 5px;"}
        /           .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "80", :role => "progressbar", :style => "width: 80%"}
        /         %p.mt-4.mb-1{:style => "font-size: .77rem;"} Website Markup
        /         .progress.rounded{:style => "height: 5px;"}
        /           .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "72", :role => "progressbar", :style => "width: 72%"}
        /         %p.mt-4.mb-1{:style => "font-size: .77rem;"} One Page
        /         .progress.rounded{:style => "height: 5px;"}
        /           .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "89", :role => "progressbar", :style => "width: 89%"}
        /         %p.mt-4.mb-1{:style => "font-size: .77rem;"} Mobile Template
        /         .progress.rounded{:style => "height: 5px;"}
        /           .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "55", :role => "progressbar", :style => "width: 55%"}
        /         %p.mt-4.mb-1{:style => "font-size: .77rem;"} Backend API
        /         .progress.rounded.mb-2{:style => "height: 5px;"}
        /           .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "66", :role => "progressbar", :style => "width: 66%"}
        /   .col-md-6
        /     .card.mb-4.mb-md-0
        /       .card-body
        /         %p.mb-4
        /           %span.text-primary.font-italic.me-1 assigment
        /           Project Status
        /         %p.mb-1{:style => "font-size: .77rem;"} Web Design
        /         .progress.rounded{:style => "height: 5px;"}
        /           .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "80", :role => "progressbar", :style => "width: 80%"}
        /         %p.mt-4.mb-1{:style => "font-size: .77rem;"} Website Markup
        /         .progress.rounded{:style => "height: 5px;"}
        /           .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "72", :role => "progressbar", :style => "width: 72%"}
        /         %p.mt-4.mb-1{:style => "font-size: .77rem;"} One Page
        /         .progress.rounded{:style => "height: 5px;"}
        /           .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "89", :role => "progressbar", :style => "width: 89%"}
        /         %p.mt-4.mb-1{:style => "font-size: .77rem;"} Mobile Template
        /         .progress.rounded{:style => "height: 5px;"}
        /           .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "55", :role => "progressbar", :style => "width: 55%"}
        /         %p.mt-4.mb-1{:style => "font-size: .77rem;"} Backend API
        /         .progress.rounded.mb-2{:style => "height: 5px;"}
        /           .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "66", :role => "progressbar", :style => "width: 66%"}
