%section{:style => "background-color: #eee;"}
  .container.py-3
    .d-flex.justify-content-between
      %h2.mb-3 Edit Profile
      = link_to 'Back', s_my_profile_path, class: 'btn btn-primary mb-3'
    .row
      .col
        %nav.bg-light.rounded-3.p-3.mb-4{"aria-label" => "breadcrumb"}
          %ol.breadcrumb.mb-0
            %li.breadcrumb-item
              = link_to 'Dashboard', s_dashboard_path, class: 'text-black'
            %li.breadcrumb-item
              = link_to 'Profile', s_my_profile_path, class: 'text-black'
            %li.breadcrumb-item.active{"aria-current" => "page"} Edit Profile
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .row.bg-white
        .col-md-3.border-right
          .d-flex.flex-column.align-items-center.text-center.p-3.py-5
            - if current_user.avatar.present?
              = image_tag(current_user.avatar.variant(resize_to_fill: [150, 150]), class: "rounded-circle mt-5 mb-3")
            - else
              = image_tag "default_profile.png", alt: 'image', class: 'rounded-circle mt-5 mb-3', width: "150px"
            %span.mb-3
              %i.fa-solid.fa-pen.change-picture-icon{style: "cursor: pointer;"}
              .d-flex.align-items-center
                .col-sm-12= f.file_field :avatar, class: "picture-field form-control d-none"
                %i.fa-solid.fa-xmark.close-picture-field.d-none{style: "cursor: pointer;"}
            %span.font-weight-bold= @current_user.name.titleize
            %span.text-black-50= @current_user.email
            %span
        .col-md-5.border-right
          .p-3.py-5
            .d-flex.justify-content-between.align-items-center.mb-3
              %h4.text-right Profile Settings
            .row.mt-2
              .col-md-6
                = f.label :name, class: 'labels'
                = f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Name'
              .col-md-6
                %label.labels Last Name
                %input.form-control{:placeholder => "surname", :type => "text", :value => ""}/
            .row.mt-3
              .col-md-12
                = f.label :headline, class: 'labels'
                = f.text_field :headline, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Headline'
            .row.mt-3
              .col-md-12
                = f.label :email, 'Email ID', class: 'labels'
                = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Email'
              - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                %div
                  Currently waiting confirmation for: #{resource.unconfirmed_email}
            .row.mt-3
              .col-md-12
                = f.label :phone, class: 'labels'
                = f.number_field :phone, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Phone'
            .row.mt-3
              %h5.labels Birthday
              .col-md-4
                = f.label :b_day, 'Day', class: 'labels'
                = f.number_field :b_day, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Day'
              .col-md-4
                = f.label :b_month, 'Month', class: 'labels'
                = f.number_field :b_month, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Month'
              .col-md-4
                = f.label :b_year, 'Year', class: 'labels'
                = f.number_field :b_year, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Year'
            .row.mt-3
              .col-md-6
                = f.label :blood_group, class: 'labels'
                = f.text_field :blood_group, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Blood Group'
              .col-md-6
                = f.label :gender, class: 'labels'
                = f.text_field :gender, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Gender'
            .row.mt-3
              .col-md-12
                = f.label :address, class: 'labels'
                = f.text_area :address, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Address'
            .row.mt-3
              .col-md-12
                = f.label :aadhaar_number, class: 'labels'
                = f.number_field :aadhaar_number, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Aadhaar Number'
            .row.mt-3
              .col-md-12
                = f.label :password, class: 'labels'
                %i (leave blank if you don't want to change it)
                %br/
                = f.password_field :password, autocomplete: "new-password", class: 'form-control'
                - if @minimum_password_length
                  %em
                    = @minimum_password_length
                    characters minimum
            .row.mt-3
              .col-md-12
                = f.label :password_confirmation, class: 'labels'
                %br/
                = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control'
            .row.mt-3
              .col-md-12
                = f.label :current_password, class: 'labels'
                %i (we need your current password to confirm your changes)
                %br/
                = f.password_field :current_password, autocomplete: "current-password", class: 'form-control'
            .mt-5.text-center
              = f.submit "Save Profile", class: 'btn btn-primary profile-button disabled'
        .col-md-4
          .p-3.py-5
            .d-flex.justify-content-between.align-items-center.experience
              %span Edit Experience
              %span.border.px-3.p-1.add-experience
                %i.fa.fa-plus>
                \&#160;Experience
            %br/
            .col-md-12
              %label.labels Experience in Designing
              %input.form-control{:placeholder => "experience", :type => "text", :value => ""}/
            %br/
            .col-md-12
              %label.labels Additional Details
              %input.form-control{:placeholder => "additional details", :type => "text", :value => ""}/

  .container.py-3
    .row.bg-white
      .cancel-account-box.mt-3.mb-2.ms-2
        %h4 Cancel Account
        %p
          Unhappy? #{button_to "Cancel my account", registration_path(resource_name), class: 'btn btn-danger', data: { confirm: "Are you sure?" }, method: :delete}

:javascript
  $(function(){
    $('.change-picture-icon').on('click', function(){
      $(this).addClass('d-none');
      $('.picture-field, .close-picture-field').removeClass('d-none');
    });
    $('.close-picture-field').on('click', function(){
      $(this).addClass('d-none');
      $('.picture-field').addClass('d-none');
      $('.change-picture-icon').removeClass('d-none');
    });
    $('#user_current_password').on('keyup', function(){
      if( $(this).val().length != '' ){
        $('.profile-button').removeClass('disabled')
      }
      else {
        $('.profile-button').addClass('disabled')
      }
    })
  });
  $("form").bind("keypress", function (e) {
    if (e.keyCode == 13) {
        e.preventDefault()
    }
  });

