%section.vh-100
  .container.h-100
    .row.d-flex.justify-content-center.align-items-center.h-100
      .col-lg-12.col-xl-11
        .row.justify-content-center
          .col-md-10.col-lg-6.col-xl-5.order-2.order-lg-1
            %p.text-center.h1.fw-bold.mb-5.mx-1.mx-md-4 Sign up
            = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'mx-1 mx-md-4'}) do |f|
              = render "devise/shared/error_messages", resource: resource

              .d-flex.flex-row.align-items-center.mb-4
                %i.fas.fa-user.fa-lg.me-3.fa-fw
                .form-outline.flex-fill.mb-0.field
                  = f.text_field :name, autofocus: true, class: 'form-control', id: 'form3Example1c', placeholder: 'Your Name'

              .d-flex.flex-row.align-items-center.mb-4
                %i.fas.fa-envelope.fa-lg.me-3.fa-fw
                .form-outline.flex-fill.mb-0.field
                  = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', id: 'form3Example3c', placeholder: 'Your Email'

              .d-flex.flex-row.align-items-center.mb-4
                %i.fas.fa-lock.fa-lg.me-3.fa-fw
                .form-outline.flex-fill.mb-0.field
                  - if @minimum_password_length
                    %em
                      (#{@minimum_password_length} characters minimum)
                  %br/
                  = f.password_field :password, autocomplete: "new-password", class: 'form-control', id: 'form3Example4c', placeholder: 'Password'

              .d-flex.flex-row.align-items-center.mb-4
                %i.fas.fa-key.fa-lg.me-3.fa-fw
                .form-outline.flex-fill.mb-0.field
                  = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', id: 'form3Example4cd', placeholder: 'Repeat your password'
              /
                <div class="form-check d-flex justify-content-center mb-5">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                <label class="form-check-label" for="form2Example3">
                I agree all statements in <a href="#!">Terms of service</a>
                </label>
                </div>
              .d-flex.justify-content-center.mx-4.mb-3.mb-lg-4.actions
                = f.submit "Register", class: 'btn btn-primary btn-lg'
            %br/
            Already Signed up? #{render "devise/shared/links"}
          .col-md-10.col-lg-6.col-xl-7.d-flex.align-items-center.order-1.order-lg-2
            = image_tag 'sign_up_image.webp', alt: 'Sample image', class: 'img-fluid'
